@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

html,
body {
  position: relative;
  width: 100%;
  min-height: 100%;
}

body {
  color: #333;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.grid {
  display: grid;
  min-height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5vw 30vw 2vw;
  grid-gap: 1rem;
}

nav,
footer {
  grid-column: 1 / span 5;
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
}
main {
  grid-column: 1 / span 4;
}

@media (max-width: 700px) {
  main {
    grid-column: 1 / span 5;
  }
}
